[Unit]
Description=example.com containers
After=docker.service network-online.target
Requires=docker.service network-online.target

[Service]
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/example.com
Type=oneshot
RemainAfterExit=yes

ExecStartPre=/home/ubuntu/dev/venv/bb/bin/docker-compose pull --quiet --parallel
ExecStart=/home/ubuntu/dev/venv/bb/bin/docker-compose up -d

ExecStop=/home/ubuntu/dev/venv/bb/bin/docker-compose down

ExecReload=/home/ubuntu/dev/venv/bb/bin/docker-compose pull --quiet --parallel
ExecReload=/home/ubuntu/dev/venv/bb/bin/docker-compose up -d

[Install]
WantedBy=multi-user.target